<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Registration at OpenEconomy</h1>
    <h2>Details:</h2>
    <ul>
      <li>
        First name: <%= @employee.first_name %>
      </li>
      <li>
        Last name: <%= @employee.last_name %>
      </li>
      <li>
        Username: <%= @employee.username %>
      </li>
      <li>
        Email: <%= @employee.email %>
      </li>
    </ul>
    <p>
      Best regards,
      <br />
      <br />
      OpenEconomy Human Resources Team
    </p>
  </body>
</html>